{% extends "base.html" %}
{% load static %}
{% block active_profile %} active {% endblock %}
{% block main %}
  <main class="page-content">
    <div class="container-fluid">
      <div class="row block">
        {% for profile in profiles %}
          <div class="col-3 flex-column p-3">
            <div class="media">
              <div class="media-left align-self-center">
                <img class="rounded" width="128" height="128" src="{% static "images/profile.jpg" %}">
              </div>
              <div class="media-body ml-3">
                <h4>{{ profile.user.username }}</h4>
                <p>{{ profile.linked_in }}</p>
                <p>GPA {{ profile.gpa }}</p>
              <a href="{% url 'users:profile_detail' pk=profile.pk %}" class="btn btn-default">See Profile</a>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
      <section class="row-section">
        <div class="container-fluid">
        </div>
      </section>
  </main>
{% endblock %}
