{% extends "base.html" %}
{% block active_profile %} active {% endblock %}
{% block main %}
  <main class="page-content">
    <section class="row-section">
      <div class="container-fluid">
	      <div class="col-md-12 row-block">
	        <ul id="sortable">
	          {% for profile in profiles %}
              <li>
                <div class="media">
                  <div class="media-left align-self-center">
                      <img class="rounded-circle" src="https://randomuser.me/api/portraits/women/50.jpg">
                  </div>
                  <div class="media-body">
                      <h4>{{ profile.user.username }}</h4>
                      <p>{{ profile.linked_in }}</p>
                  </div>
                  <div class="media-right align-self-center">
                      <a href="{% url 'users:profile_detail' pk=profile.pk %}" class="btn btn-default">See Profile</a>
                  </div>
               </div>
              </li>
            {% endfor %}
          </ul>
	      </div>
      </div>
    </section>
  </main>
{% endblock %}
